
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Trang chủ
    </title>
    <base href="http://localhost:5116/" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <style>
        .navbar .form-group, .navbar .input-group {
            margin: 0;
            margin-left: 4px;
            margin-right: 250px;
        }
    </style>
</head>

<body class="">
    @{
        string session = Accessor.HttpContext.Session.GetString("acc");
        User user = JsonConvert.DeserializeObject<User>(session);
    }
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a href="Admin/UpdateUser" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="~/assets/img/@user.Img">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a href="Admin/UpdateUser" class="simple-text logo-normal">
                    @user.Name
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active ">
                        <a href="Admin/Index">
                            <i class="nc-icon nc-bank"></i>
                            <p>Thống kê</p>
                        </a>
                    </li>
                    <li>
                        <a href="Admin/AddBlog">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <p>Thêm bài viết mới</p>
                        </a>
                    </li>
                    <li>
                        <a href="Admin/UpdateUser">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Tài Khoản</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">Thống kê</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form asp-action="Index" asp-controller="Admin">
                            <div class="input-group no-border">
                                <input name="key" type="text" value="@ViewBag.key" class="form-control" placeholder="Tìm Kiếm...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="nc-icon nc-zoom-split"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="nc-icon nc-paper text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Tổng số bài viết</p>
                                            <p class="card-title">@ViewBag.blogquantity<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-refresh"></i>
                                    Cập nhật ngay
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-eye text-success" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Tổng lượt xem</p>
                                            <p class="card-title">@ViewBag.viewquantity<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar-o"></i>
                                    Gần đây
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-comments-o text-danger" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Tổng bình luận</p>
                                            <p class="card-title">@ViewBag.commentquantity<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar-o"></i>
                                    Gần đây
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="row" style="margin-bottom: 15px">
                                    <div class="col-sm-12 col-md-8">
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <form id="catefrm" asp-action="Index" asp-controller="Admin">
                                            <label class="control-label"></label>
                                            <select onchange="changeSubmit()" class="form-control" name="searchkey">
                                                <option value="0">Tất cả</option>
                                                @foreach (Category c in ViewBag.cates)
                                                {
                                                    if (ViewBag.searchkey != null && c.Id == Int32.Parse(ViewBag.searchkey))
                                                    {
                                                        <option selected value="@c.Id">@c.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@c.Id">@c.Name</option>
                                                    }
                                                    
                                                }
                                            </select>
                                        </form>
                                        <script>
                                            function changeSubmit(){
                                                document.getElementById('catefrm').submit();
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <table style="overflow:hidden" class="table p-0 table-hover table-bordered table-responsive">
                                        <tr style="background: #eee">
                                            <th width="4%">Id</th>
                                            <th width="18%">Tiêu đề</th>
                                            <th width="20%">Ảnh</th>
                                            <th width="20%">Mô tả ngắn</th>
                                            <th width="6%">Thể loại</th>
                                            <th width="6%">Lượt xem</th>
                                            <th width="10%">Hoạt động</th>
                                        </tr>
                                        @foreach (Blog c in ViewBag.blogs)
                                        {
                                            <tr>
                                                <td>@c.Id</td>
                                                <td>@c.Title</td>
                                                <td><img src="~/img/@c.BigImage" /></td>
                                                <td>@Html.Raw(c.shortDescription)</td>
                                                <td>@c.Category.Name</td>
                                                <td>@c.Views</td>
                                                <td>
                                                    <button onclick="deleteBlog('@c.Id')" class="btn btn-primary btn-sm trash" type="button" title="Xóa bài viết">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                    <button onclick="updateBlog('@c.Id')" class="btn btn-primary btn-sm update" type="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                    @*<button class="btn btn-primary btn-sm eye" type="button" title="Chi tiết bài viết">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>*@
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function deleteBlog(id){
                window.location = "/Admin/DeleteBlog/"+id;
            }

            function updateBlog(id) {
                window.location = "/Admin/UpdateBlog/" + id;
            }
        </script>
        <!--   Core JS Files   -->
        <script src="~/assets/js/core/jquery.min.js"></script>
        <script src="~/assets/js/core/popper.min.js"></script>
        <script src="~/assets/js/core/bootstrap.min.js"></script>
        <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chart JS -->
        <script src="~/assets/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
        <script src="~/assets/demo/demo.js"></script>
        <script>
            $(document).ready(function () {
                // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
                demo.initChartsPages();
            });
        </script>
</body>

</html>

